/RUNNING_PID
/logs/
/project/project/
/project/target/
/target/
activator
activator.bat
activator-launch-1.3.0.jar

# sbt specific
.cache*
.history
.lib/
.settings*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.classpath
/bin/*
/bin/
